@model MedicalService.ViewModels.AdminViewModels.UserListViewModel
@{
    ViewData["Title"] = "Users List";
}
<h2>Users
    <a class="btn btn-outline-success" role="button" asp-area="" asp-controller="Users" asp-action="Create">Create user</a>
</h2>
<form method="get" asp-controller="Admin" asp-action="UserList">
    <div class="form-inline form-group">
        <label class="control-label" style="margin: 5px;">Email: </label>
        <input name="email" class="form-control" style="margin: 5px;"/>
 
        <label class="control-label" style="margin: 5px;">UserName: </label>
        <input name="userName" class="form-control" style="margin: 5px;" />
 
        <input type="submit" value="Filter" class="btn btn-outline-secondary" style="margin: 5px;" />
    </div>
</form>
<table class="table">
    <tr>
        <th>Email</th>
        <th>UserName</th>
        <th></th>
        <th></th>
        <th></th>
    </tr>
    @if(Model.Users.Count() == 0)
    {
        <tr>
            <td colspan="5" class="text-center">No data</td>
        </tr>
    }
    else
    {
        foreach (var user in Model.Users)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
                <td>
                    <a style="width: -webkit-fill-available" class="btn btn-outline-warning" asp-controller="Roles" asp-action="Edit" asp-route-userid="@user.Id">Access rights</a>
                </td>
                <td>
                    <a style="width: -webkit-fill-available" class="btn btn-outline-info" asp-controller="Users" asp-action="Edit" asp-route-id="@user.Id" class = "compItem">Edit</a>
                </td>
                <td>
                    <form asp-action="Delete" asp-controller="Users" asp-route-id="@user.Id" method="post" class = "compItem">
                        <button style="width: -webkit-fill-available" class="btn btn-outline-danger" type="submit">
                            Delete
                        </button>
                    </form>
                </td>

            </tr>
        }
    }
</table>